<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= og.title %></title>
  <meta name="description" content="<%= og.description %>">
  <meta property="og:title" content="<%= og.title %>">
  <meta property="og:description" content="<%= og.description %>">
  <meta property="og:image" content="<%= og.image %>">
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-5NPDM9G6PJ"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-5NPDM9G6PJ');
</script>
<!--Schema Markup-->
 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "Juegos de mesa",
    "datePublished": "2024-01-16",
    "author": {
      "@type":"Person",
      "name": "Jhoana Gonzales"
    },
    "publisher":{
      "@type": "Organization",
      "name": "Juegos de mesa",
      "logo": {
        "@type": "ImageObject",
        "url": "https://images.pexels.com/photos/1796794/pexels-photo-1796794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      }
    },
    "image": {
      "@type": "ImageObject",
      "url": "https://images.pexels.com/photos/1796794/pexels-photo-1796794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
      "width": "800",
      "height": "600"
    },
    "description": "Juegos de mesa para toda la familia"
  }
  </script>
	<style type="text/css">

		body{
			background-image:url('https://images.pexels.com/photos/10626015/pexels-photo-10626015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	        background-size:cover;
	        background-attachment: fixed;
		}
		form{
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items:center;
			background:rgb(28, 44, 73);
			width:30%;
                        height:50vh;
			margin:3rem auto;
		}
		label{
			color:white;
			font-weight:bold;
			font-size:1.5rem;
			margin-top: 2rem;
		}
		input{
			margin-top:2rem;
		}
		.contenedorBotonera{
			display:flex;
		}
		.contenedorBotonera input{
			margin:2rem;
			cursor:pointer;
		}
         h1{
         	color:white;
         	display:flex;
         	justify-content: center;
         	margin-top:2rem;
         }
	</style>
        
</head>
<body>

<h1>Restablece tu contrase単a</h1>

<div class='form-box'>
<form action='/restablecer-contrasena' method="POST" id='myForm'>

        
	<label>Confirma tu nombre de Usuario</label>
	<input type="text" name="userName">


        
	<label>Contrase単a Nueva</label>
	<input type="password" name="password" id='password-1'>
        

	<label>Confirmar Contrase単a</label>
	<input type="password" name="passwordC" id='password-2'>
       

        <div class="contenedorBotonera">
	  <input type="submit" value="enviar">
	  <input type="button" value="Login" onclick="login()">
        </div>

</form>
</div>



	<script type="text/javascript">
	function login(){
		window.location.href='/loginUsers';
	}
	let myForm = document.getElementById('myForm');
  
  myForm.addEventListener('submit',(e)=>{
    let password = document.getElementById('password-1');
    let passwordd = document.getElementById('password-2');

  if(password.value !== passwordd.value){
  e.preventDefault();
  alert('Las contrase単as no coinciden , vuelve a intentarlo');
  }
   
  });
</script>



</body>
</html>
